@import "./modal-category.scss";

.status {
  color: green;
}
.status_red {
  color: red;
}

h1 {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
}

.masage-limit-hidden {
  display: none;
}
.masage-limit-active {
  display: block;
  margin-bottom: 10px;
  color: red;
  border: 1px dashed red;
  width: 200px;
  padding: 3px;
  text-align: center;
}

.container {
  width: 500px;
  margin: 0 auto;
}
.row-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  border: 1px solid black;
  border-radius: 15px;
  padding: 10px;

  .expense-input {
    width: 200px;
    margin-bottom: 10px;
    padding: 5px;
  }

  .expense-input-red {
    border: 2px dashed red;
  }

  .categorySelect {
    padding: 5px;
    width: 210px;
    margin-bottom: 20px;
    width: 208px;
    background: rgb(0, 148, 255);
  }

  button {
    width: 208px;
    background: rgb(0, 148, 255);
    border: none;
    border-radius: 10px;
    padding: 5px;
    font-size: 18px;
  }
  button:hover {
    opacity: 0.7;
    cursor: pointer;
  }
}

.row-data {
  margin-top: 20px;
  border: 1px solid black;
  border-radius: 15px;
  padding: 10px;
  .row-data__wrapper {
    display: flex;
    justify-content: space-around;
    .row-data__limit {
      margin-bottom: 5px;
    }
    .row-data__sum {
      margin-bottom: 20px;
    }
  }
  .btn-reset {
    margin-top: 20px;
    width: 208px;
    background: rgb(70, 200, 243);
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    padding: 5px;
    margin-left: 10%;
  }
  .btn-reset:hover {
    opacity: 0.7;
    cursor: pointer;
  }
}

.btn-edit-limite {
  width: 17px;
  height: 17px;
}

.row-data__history {
  h2 {
    margin-bottom: 5px;
  }
}
